= render :layout => '/layouts/main_body_no_h2' do
  - if @works.blank?
    %h2 #{ t 'user_sessions.saved.title' }
    %p #{ t 'user_sessions.saved.no_works' }

  - elsif @export.present?
    %h2 #{ t 'user_sessions.saved.works' }
    = @works

  - else
    = render :layout => 'layouts/admin_bar' do
      %li #{ link_to t('user_sessions.saved.delete'), delete_saved_url}

    %h2 #{ t 'user_sessions.saved.works' } #{@saved.items.size}

    = render 'show_options_form'

    .span-14 #{ will_paginate @works.paginate}

    %ol.span-14.works.clear-both
      - @works.each do |work|
        = render "shared/work", :work => Index.work_to_solr_hash(work)

    .span-14 #{ will_paginate @works.paginate}
